.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #666;
    color: white;
}

.button:active {
    background-color: #666;
    color: mediumspringgreen;
}

/* The side navigation menu */
.sidebar {
    margin: -8px;
    padding: 0;
    width: 200px;
    background-color: #4CAF50; /* Green */
    position: fixed;
    height: 100%;
    overflow: auto;
}